body {
    color: rgb(198, 216, 253);
    background-color: rgb(69, 80, 221);
    margin: 0;
}
button {
    padding: 10px;
    color: rgb(198, 216, 253);
    background-color: rgb(54, 72, 172);
    margin: 5px;
}
button:hover {
    cursor: pointer;
    background-color: rgb(172, 54, 172);
}
input {
    color: rgb(198, 216, 253);
    background-color: rgb(37, 40, 82);
}
textarea {
    resize: none;
    width: 500px;
    height: 200px;
    background-color: rgb(91, 150, 216);
}
.postImg {
    width: 30%;
}
#token_display {
    width: 60%;
}
#token_display p {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.uploaded_post {
    border: 3px solid black;
    width: 70%;
    padding: 30px;
    margin: 10px;
}
.uploadForm {
    border: 5px solid black;
    padding: 30px;
    margin: 10px;
    display: flex;
    flex-direction: column;
}
#edit_post_container {
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.75);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
}
.editForm {
    border: 5px solid black;
    background-color: rgba(33, 85, 133, 0.5);
    padding: 30px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    width: 50%;
}
